/* body{
    background: #ededef;
}
.box_drawing{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
} */
/* div.banner-area{
    width: 100%;
    background-image:linear-gradient(to bottom,#fbfbfb,#e7e7e7);
}
section{
    width: 100%;
    background: #ededef;
}
div.art-banner{
    width: 1200px;
    height: 568px;
    text-align: center;
    margin: 0 auto;
} */
/* div.row{
    width: 1170px;
} */
/* @keyframes change {
    0% {
        outline: 10px #fff solid;
    }
    100% {
        outline: 10px black solid;
    }
}
@keyframes change_1 {
    0% {
        outline: 10px black solid;

    }
    100% {
        outline: 10px #fff solid;
    }
} */
/* .aa{
    width: 262px;
    height: 262px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: change_1 700ms ease;
} */
/* .img_box img{
    width: 262px;
    transition:all 700ms ease-in-out;
} */
/* .aa:hover{
    outline: 10px black solid;
    animation: change 700ms ease  alternate;
} */
/* .aa:hover img{
    width:85%;
} */
/* .col-sm-3>p{
    margin-left: 1rem;
    margin-bottom: 0;
    width: 120px;
    display: inline-block;
    font-size: .8rem;
}
.col-sm-3>p>a{
    text-decoration: none;
    color: #444444;
}
.col-sm-3>p>a:hover{
    color: #7594b3;
} */

/* div.col-sm-12>a{
    display: block;
    width: 1164px;
    height: 60px;
    background: #f6f6f6;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 60px;
    color: #6b6666;
    text-align: center;
    margin: 0 auto;
}
div.col-sm-12>a:hover{
    opacity: 0.5;
} */

/* 画中画图片样式 */
/* .pip{
    position: relative;
    left: 1.2rem;
}
.pip .pip-small{
    position: absolute;
    left: 251px;
    top: 134px;
    width: 49.6%;
} */
/* 轮播作品标题 */
/* div.banner-text{
    position: relative;
    left: 110px;
    top: 90px;
    z-index: 5;
}
div.banner-text>p{
    font-size: 18px;
   color: #999999;
}
div.banner-text>a{
   margin-top:.6rem; 
}
a.mb-4:hover{
    color: #7594b3;
    text-decoration: none;
} */
/* a.author{
    display: block;
    color:#999999;
}
a.author:hover{
    text-decoration: none;
} */
/* 明信片效果 */
div.postcard-main{
    /* height: 900px; */
}
/* div.postcard-box{
    position: relative;
}
div.postcard-box div{
    position: absolute;
    width: 262px;
    height: 176px;
    background: #fff;
    transition: all .3s ease;
    border: 1px #e0e0e0 solid;
}
div.postcard img{
    width: 262px; */
/* } */
div.postcard-box>div:nth-child(1){
    border:0;
    left: 3px;
    top: 5px;
    z-index: 5;
}
div.postcard-box>div:nth-child(2){
    left: 3px;
    top: 5px;
    z-index: 4;
}
div.postcard-box>div:nth-child(3){
    left: 5px;
    top: 7px;
    z-index: 3;
}
div.postcard-box>div:nth-child(4){
    left: 7px;
    top: 9px;
    z-index: 2;
}
div.postcard-box>div:nth-child(5){
    left: 9px;
    top: 12px;
    z-index: 1;
}
div.postcard-box:hover div:nth-child(1){
    transform: rotate(-1deg);
}
div.postcard-box:hover div:nth-child(2){
    transform: rotate(-4deg);
}
div.postcard-box:hover div:nth-child(3){
    transform: rotate(.5deg);
}
div.postcard-box:hover div:nth-child(4){
    transform: rotate(2deg);
}
div.postcard-box:hover div:nth-child(5){
    transform: rotate(5deg);
}
.postcard-main>.col-sm-3{
    height: 238px;
}
/* 设置明信片下方标题 */
.postcard-main .postcard-titlt{
    width: 262px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:200px;
    left: 10px;
  
}
.postcard-main .postcard-titlt a{
    color: #444;
    font-size: .8rem;
}
.postcard-main .postcard-titlt a:hover{
    color:#7594b3;
    text-decoration: none;
}

