@charset "UTF-8";
/* CSS Document */
div.art_nav {
  background: #24292c;
  position: relative;
}

/*定义显示内容的框样式*/
div.art_nav>div:nth-of-type(1){
  width: 1140px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* div.art_nav>div>div:nth-of-type(3){
  width: 300px;
} */
div.art_nav>div>div:nth-of-type(2){
  position: relative;
  right: 80px;
}
div.art_nav>div>div:nth-of-type(2)>a{
   margin-right: 53px;
}
div.art_nav>div>div:nth-of-type(3)>a{
    margin-right: 30px;
}
/*中间两个文字按钮样式*/
a.nav_text {
  font-size: 1.5rem;
  color: #7f7f7f;
  line-height: 69px;
  transition: all .3s ease;
  text-decoration: none;
}
a.nav_text:hover {
  color: #fff;
}
/*悬停下拉菜单功能*/
div.my_art {
  display: inline-block;
  width: 120px;
  height: 36px;
  border-radius: 5px;
  background: #e8e8e8;
  color: #66667b;
  line-height: 36px;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  z-index: 10;
  
}
div.my_art:hover {
  color: #7594b3;
}
div.my_art:hover .menu {
  height: 186px;

}
div.dropdownmm {
border-radius: 5px;
}
ul.menu {
  position: absolute;
  height: 0;
  overflow: hidden;
  background:#191919; 
  width: 120px;
  border-radius: 6px;
  padding: 0;
  transition: all 0.3s linear;
  z-index: 10;
}
ul.menu>li{
  width: 120px;
  clear: both;
  border-top: 1px black solid;
  list-style: none;
}
ul.menu>li>a{
  color: #999999;
  text-decoration: none;
  transition: all .3s ease;
}
ul.menu>li:hover{
background: #333333
}
ul.menu>li:hover a{
  color: #fff;
}
