nav {
  position: relative;
  width: 100%;
  height: 82px;
  background-color: #24292c; }
  nav a:nth-of-type(1) {
    align-self: center; }
  nav .logo {
    border: 1px red solid;
    height: 82px;
    width: 940px;
    margin: 0 auto;
    display: flex; }
    nav .logo a:nth-of-type(1) > img {
      position: relative;
      width: 220px;
      height: 48px; }
      nav .logo a:nth-of-type(1) > img:active {
        top: 2px;
        left: 2px; }
    nav .logo ul {
      margin: 16px 0 0;
      width: 500px;
      border: 1px red solid; }
      nav .logo ul li {
        float: left; }
    nav .logo div {
      float: left; }
    nav .logo .input {
      width: 220px;
      height: 30px;
      border: 1px red solid;
      border-radius: 16px;
      background: #000;
      display: flex; }
      nav .logo .input input {
        background: transparent;
        border: 0;
        outline: none;
        width: 150px;
        height: 24px; }
      nav .logo .input .icon1 {
        display: inline-block;
        background: url("../css/icon4.png");
        background-position: 0;
        width: 18px;
        height: 24px;
        padding: 0;
        margin-left: 6px;
        margin-right: 6px; }
        nav .logo .input .icon1:hover {
          background-position: -62px; }

a.text1 {
  color: #999999;
  font-size: 16px;
  margin-left: 30px;
  float: left;
  line-height: 72px;
  text-decoration: none; }
  s
a.text1:hover {
    color: #fff; }

.dropdown {
  background: #191919;
  width: 227px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 72px;
  left: 1000px;
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 30; }
  .dropdown ul.pull_list {
    width: 227px;
    list-style: none;
    margin: 0; }
    .dropdown ul.pull_list li {
      width: 227px;
      height: 40px;
      padding: 0 40px 0 20px;
      font-size: 12px;
      color: #bcbcbc;
      display: flex;
      align-items: center; }
      .dropdown ul.pull_list li:hover {
        color: #fff; }
      .dropdown ul.pull_list li a {
        text-decoration: none;
        display: inline-block;
        background: url("../img/icon4-24.png");
        background-position: 0px -307px;
        width: 20px;
        height: 25px;
        padding-left: 20px;
        line-height: 25px; }

nav > div > div.show {
  height: 320px;
  opacity: 1; }

.pull_list a:nth-child(1) {
  background-position: 0px -307px; }

.pull_list li:hover {
  background: #333333; }

.pull_list > li:hover a {
  color: #fff;
  background-position: 20px -307px; }
