@charset "UTF-8";
body {
  background: #ededef; }

div.banner-area {
  width: 100%;
  background-image: linear-gradient(to bottom, #fbfbfb, #e7e7e7);
  position: relative;
  height: 562px;
  overflow: hidden; }
  div.banner-area:hover div.bigbox > span {
    opacity: 1; }
  div.banner-area > div.bigbox {
    width: 1200px;
    height: 568px;
    margin: 0 auto;
    position: relative; }
    div.banner-area > div.bigbox > span {
      display: inline-block;
      width: 50px;
      height: 100px;
      background: url(http://127.0.0.1:5000/img/ART/btn.png);
      background-color: #f7f7f7;
      position: absolute;
      top: 40%;
      border-radius: 3px;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s linear; }
      div.banner-area > div.bigbox > span:hover {
        background-color: #fff; }
    div.banner-area > div.bigbox > span:nth-of-type(1) {
      left: -50px;
      background-position: -5px -119px; }
    div.banner-area > div.bigbox > span:nth-of-type(2) {
      right: -50px;
      background-position: -5px -213px;
      z-index: 3; }
    div.banner-area > div.bigbox div.dots {
      width: 80px;
      position: absolute;
      bottom: 2%;
      left: 47%;
      z-index: 5;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      div.banner-area > div.bigbox div.dots a {
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(http://127.0.0.1:5000/img/ART/btn.png);
        background-position: -20px -32px; }
      div.banner-area > div.bigbox div.dots a.active {
        background-position: -20px -72px; }
    div.banner-area > div.bigbox div.art-banner {
      margin: 0;
      position: absolute;
      width: 1200px;
      height: 568px;
      text-align: center;
      z-index: -1;
      opacity: 0;
      transition: opacity 2s linear; }
      div.banner-area > div.bigbox div.art-banner div.banner-text {
        position: relative;
        left: 110px;
        top: 90px;
        z-index: 2; }
        div.banner-area > div.bigbox div.art-banner div.banner-text > p {
          font-size: 18px;
          color: #999999; }
        div.banner-area > div.bigbox div.art-banner div.banner-text > a {
          margin-top: .6rem; }
        div.banner-area > div.bigbox div.art-banner div.banner-text a.mb-4:hover {
          color: #b37575;
          text-decoration: none; }
        div.banner-area > div.bigbox div.art-banner div.banner-text a.author {
          display: block;
          color: #999999; }
          div.banner-area > div.bigbox div.art-banner div.banner-text a.author:hover {
            text-decoration: none; }
      div.banner-area > div.bigbox div.art-banner div.pip {
        position: relative; }
        div.banner-area > div.bigbox div.art-banner div.pip img.pip-small {
          position: absolute;
          left: 249px;
          top: 134px;
          width: 49.6%; }
    div.banner-area > div.bigbox div.banner2 {
      position: relative; }
      div.banner-area > div.bigbox div.banner2 div.banner2-left div {
        position: absolute;
        top: 60px;
        left: 100px;
        width: 300px;
        height: 300px;
        padding: 35px;
        outline: 10px black solid; }
        div.banner-area > div.bigbox div.banner2 div.banner2-left div img {
          width: 230px;
          height: 230px; }
      div.banner-area > div.bigbox div.banner2 div.banner2-right > div {
        position: absolute;
        top: 60px;
        left: 70px; }
      div.banner-area > div.bigbox div.banner2 div.banner2-right img {
        position: absolute;
        bottom: 20px;
        right: 20px; }
    div.banner-area > div.bigbox div.active {
      z-index: 3;
      opacity: 1; }

section {
  width: 100%;
  background: #ededef; }
  section div.box_drawing {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid transparent; }

a.more {
  margin-bottom: 15px; }

@keyframes change {
  0% {
    outline: 10px #fff solid; }
  100% {
    outline: 10px black solid; } }

@keyframes change_1 {
  0% {
    outline: 10px black solid; }
  100% {
    outline: 10px #fff solid; } }

.col-sm-3 > p {
  margin-left: 1rem;
  margin-bottom: 0;
  width: 120px;
  display: inline-block;
  font-size: 0.8rem; }
  .col-sm-3 > p > a {
    text-decoration: none;
    color: #444444; }
    .col-sm-3 > p > a:hover {
      color: #7594b3; }

div.col-sm-12 > a {
  display: block;
  width: 1164px;
  height: 60px;
  background: #f6f6f6;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 60px;
  color: #6b6666;
  text-align: center;
  margin: 0 auto; }
  div.col-sm-12 > a:hover {
    opacity: 0.5; }

div.img_box {
  width: 262px;
  height: 262px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: change_1 700ms ease; }
  div.img_box img {
    width: 262px;
    transition: all 700ms ease-in-out; }
  div.img_box:hover {
    outline: 10px black solid; }
    div.img_box:hover > img {
      width: 85%; }

div.postcard-box {
  position: relative; }
  div.postcard-box div {
    position: absolute;
    width: 262px;
    height: 176px;
    background: #fff;
    transition: all .3s ease;
    border: 1px #e0e0e0 solid; }
  div.postcard-box div.postcard img {
    width: 262px; }
  div.postcard-box div:nth-child(1) {
    border: 0;
    left: 3px;
    top: 5px;
    z-index: 5; }
  div.postcard-box div:nth-child(2) {
    left: 3px;
    top: 5px;
    z-index: 4; }
  div.postcard-box div:nth-child(3) {
    left: 5px;
    top: 7px;
    z-index: 3; }
  div.postcard-box div:nth-child(4) {
    left: 7px;
    top: 9px;
    z-index: 2; }
  div.postcard-box div:nth-child(5) {
    left: 9px;
    top: 12px;
    z-index: 1; }
  div.postcard-box:hover div:nth-child(1) {
    transform: rotate(-1deg); }
  div.postcard-box:hover div:nth-child(2) {
    transform: rotate(-4deg); }
  div.postcard-box:hover div:nth-child(3) {
    transform: rotate(0.5deg); }
  div.postcard-box:hover div:nth-child(4) {
    transform: rotate(2deg); }
  div.postcard-box:hover div:nth-child(5) {
    transform: rotate(5deg); }

.postcard-main > .col-sm-3 {
  height: 238px; }

/* 设置明信片下方标题 */
.postcard-main .postcard-titlt {
  width: 262px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 200px;
  left: 10px; }
  .postcard-main .postcard-titlt a {
    color: #444;
    font-size: .8rem; }
    .postcard-main .postcard-titlt a:hover {
      color: #7594b3;
      text-decoration: none; }
