div#draw {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  background: #fff;
  height: auto;
  padding-bottom:10px; 

}

div.drawnav {
  width: 100%;
  height: 80px;
 
  display: flex;
  align-items: center;
}
div.drawnav a{
  font-size: 32px;
  height: 36px;
      color: #333;
      font-weight: normal;
      margin-right: 30px;
      line-height: 32px;
}
div.drawnav span {
  width: 100px;
  height: 36px;
  float: left;
  margin: 0 10px 0 0;
  border: 1px solid #ECECEE;
  border-radius: 2px;
  color: #333;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}

span.active {
  background: #ECECEE;
}

div.paging {
  position: relative;
  width: 240px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
div.paging ul {
  position: absolute;
  top: -130px;
  height: 200px;
  max-height: 252px;
  /* border: 1px solid red; */
}
div.paging ul li{
  width: 52px;
  height: 25px;
  clear: both;
    border: 1px solid red;
    background: #fff;
    text-align: center;
}
div.paging button{
  width: 88px;
  height: 30px;
  /* background: url(http://127.0.0.1:5000/img/ART/icn3.png);
      background-position: -22px -103px */
  /* background-position: -43px -540px;  中间小箭头 */
}
/* 设定页数显示的下拉栏 */