li{
	float: left;
	list-style: none;
	margin:0;
	padding:0;
}
body{
	width: 100%;
	// height: 1800px;
	background-color:#ededef;
	margin: 0;
}

/*主要内容显示主体 */
section{
	width: 944px;
	// height: 1800px;
    margin: 30px auto 0;
    main{
	width: 674px;
	// height: 1800px;
    float: left;
    position: relative;
    div#publishbar{
	width: 674px;
	height: 114px;
    background:#fff;
    a{
	background:url(../img/homelogo.png);
	position: relative;
	background-repeat:no-repeat;
	display:inline-block;
	width: 108px;
	height: 110px;
        }
            a:nth-of-type(1){
            background-position: 0 -374px;
            &:hover{
            // background-position: -112px -133px;
                }
            }
            a:nth-of-type(2){
              background-position: -112px -133px;
            }
            a:nth-of-type(3){
                background-position:-224px 0;
                   &:hover{
               background-position: -224px -133px;
                }
            }
            a:nth-of-type(4){
                background-position:-336px 0;
                   &:hover{
              background-position: -336px -133px;
                }
            }
            a:nth-of-type(5){
                background-position:-448px 0;
                   &:hover{
            background-position: -448px -133px;
                }
            }
            a:nth-of-type(6){
                background-position:-560px 0;
                   &:hover{
           background-position: -560px -133px;
                }
            }
 
            }
            // 顶部半角条
            div.angle{
                width: 585px;
                height: 24px;
            //    border: 1px black solid;
               background: #fff;
               margin-top:20px; 
               position: absolute;
               right:0;
               top: 119px;
               z-index: 3;
                box-shadow: 1px -1px 1px #bebebf;

                >div{
              
                    width: 0px;
                    height: 0px;
                    border-right: 12px #fff solid;
                    border-top: 12px #fff solid;
                     border-bottom: 12px #ededef solid;
                          border-left: 12px #ededef solid;
                    //  background: red;
                }
            }

        }

        // 每个用户单独的盒子
        div.user-flow{
            width: 674px;
            // 信息流类box，都不设置宽度，根据内容来决定
            margin-top: 24px;
         position: relative;
            margin-bottom: 46px;
            >div.user-flex{
            display: flex;
       
            justify-content: space-between;
         
            /*上方图片标题文字*/
            div.pinter_2{
                width: 540px;
                height: 20px;
                a{
                    color: #929BA3;
                }
            }
            /*左侧放头像的框*/
            >div.head-img{
                width: 64px;
                height: 64px;
                background: black;
            }
            /*图片信息流大框*/
            div.image-flow{
                // position: relative;
                // top: 24px;
                width: 584px;
                color: #929BA3;
                font-size: 14px;
                padding: 8px 30px 0;
                background:#fff;
                // border-left: 24px #ededef solid;
                    border-left: 24px #ededef solid;
                border-top: 24px #fff solid;
                // box-shadow:0px 1px 3px #999;
                 box-shadow: 1px 1px 1px #bebebf;
                 div{
                    float: left;
                }
                div:nth-of-type(1){
                    p{
                        a{
                              position: relative;
                              display: inline-block;
                        }
                    }
                }
                /*放图片流的框*/
                div.left_img{
                    width: 186px;
                    height: 400px;
                    margin-top: 16px;
                    overflow: hidden;
                    img.iimg{
                        width: 180px;
                    }
                }
                //图片放大后的样式
                div.imgbig{     
                    >img{     
                      width: 476px;
                    }
                }
                /*右侧文字的框*/
                div.right_text{
                    width: 240px;
                    margin-left: 30px;
                    a{
                        color: #929BA3;
                    }
                }
                // 右侧文字第二种样式，设定图片展开后隐藏
                  div.right_text-one{
                      display: none;
                  }

                /* 底部操作按钮框 */
                div.bom-button{
                    width:476px;
                    height: 20px;
                    margin-top: 11px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    >div{
                        display: flex;
                        align-items: center;
                        a{
                            position: relative;
                            line-height: 20px;
                            margin-left: 10px;
                            font-size: 12px;
                            color: #aaa;
                        }
                    }
                    >div:nth-of-type(1){
                        width: 200px;
                        text-align: left;
                        >span{
                            display: inline-block;
                            width: 20px;
                            height: 18px;
                            background: url(../img/iconbig.png);
                            background-position: 0 -103px;
                        }
                    }
                    /* 按钮的不变样式 */
                    button.heart{
                        display: inline-block;
                        width: 20px;
                        height: 18px;
                        border: 0;
                        outline:none;
                        margin-left: 10px;
                        background: url(../img/iconbig.png);
                    }
                    /* 按钮需要根据不同状态被选择的样式 */
                    button.like{
                        background-position: -80px -2790px;
                    }
                    button.nlike{
                        background-position: -80px -2759px;;
                    }
                }
            }

        }


    // 设定用户评论隐藏框样式
    div.comment{
        position: relative;
        opacity: 0;
        top: -144px;
        overflow: hidden;
        transition: all 0.3s linear;
        background: #fafafa;
        float: right;
        box-shadow: 0px 0px 3px #bebebf;
        font-size: 12px;
        transition: all 0.3s linear;
        z-index: -1;
        div{
          width: 560px;
        }
        div:nth-of-type(1){
            padding: 18px 15px 0px;
            height: 58px;
            text-align:center;
            margin-bottom: 5px;
            input{
                width: 390px;
                height: 40px;
                padding: 9px;
                border:1px #cececf solid;
            }
            a{
            display: inline-block;
            width: 104px;
            height: 40px;
            color: #fff;
            background-image:linear-gradient(to bottom,#84af00,#79a300);
            border-radius: 3px;
            text-align: center;
            line-height: 40px;
            &:hover{
                    color: #fff;
                    background: #9cbf00;
                    }
            }
        }
        div~div{
            height: 44px;
            padding: 10px 30px;
           border-bottom:1px #cececf solid;
           position: relative;
            a{
                    color: #7594B3;
            }
            a:last-child{
                position: absolute;
                right: 50px;
            }
            span{
        
                        color: #444;
            }
        }
        div:last-child{
            height: 40px;
            display: flex;
            align-items: center;
             span:nth-of-type(1){
                    font-size: 12px;
                          cursor: pointer;
                color: #888;
                     &:hover{
                        color: #7594B3;
                }
             }
                 span:nth-of-type(2){
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../img/icon24.png);
                background-position: right -932px;
          
          
            }

      
        }
    }
    div.show{
            top: 0;
            opacity: 1;
    }


// main  sec括号
   }
    }
// 用户分享模块
ul.last-icon{
    width: 560px;
      transition: all 0.5s linear;
      float: right;
    padding: 0 0 0 29px;
      background: #ffffff;
      height: 113px;
    position: relative;
    opacity: 0;
    top: -257px;
    z-index: -1;
        // overflow: hidden;
         transition: all 0.3 linear;
          box-shadow: 1px 1px 1px #bebebf;
    >li{
        width: 84px;
        height: 80px;
        padding: 0 12px;
        text-align: center;
        margin-top: 23px;
        a{
        display: inline-block;
        width: 46px;
        height: 46px;
        background: url(../img/homepage/i24.png);
        margin: 0 7px;
                >div{
                width: 156px;
                height: 180px;
                position: relative;
                top:-196px;
                left: -64px;
                background: #000;
                display: none;
                text-align: center;
                padding-top: 30px;
                //设置浮动，使其不占页面空间
                float: left;
                    p{
                font-size: 14px;
                color: #888;
                margin-top: 4px;
                        }
                }
            }
            span{
                font-size: 12px;
                color: #aaa;
            }
    }
li:nth-of-type(1){
        a{
      background-position: 1px 1px;
      &:hover >div{
      display: block;
    }   
    }
}    
li:nth-of-type(2){
a{
    background-position: -99px 1px;
  &:hover >div{
  display: block;
}
}
}

li:nth-of-type(3){
a{
     background-position: -199px -86px;
}
}

li:nth-of-type(4){
a{
        background-position: -299px 1px;
}
}
li:nth-of-type(5){
a{
        background-position: -498px 2px;
}
}
li:nth-of-type(6){
a{
       background-position: -399px 1px;
}
}
}
// 设定显示隐藏样式
 ul.show{
           top: -144px;
            opacity: 1;
    }

     

// 侧边栏
aside{
    width: 240px;
	/*height: 356px;*/
	margin-left: 28px;
    float: left;
    div{
	margin-bottom: 24px;
    }
    ul.ul_one {
        li{
	width:226px;
	height: 40px;
	clear:both;
	border:solid  #b2b2b2 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f3f3f3;
        }
        li:nth-of-type(2)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
li:nth-of-type(3)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
li:nth-of-type(4)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
li:nth-of-type(5)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
li:nth-of-type(6)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
li:nth-of-type(7)>a>span:nth-of-type(1){
	background-position: 0 -1688px;
}
    }

// 小图标
    .ul_icon{
	background:url(icon4.png);
	position: relative;
	display:inline-block;
	width: 25px;
	height: 18px;
	margin-right: 2px;
	margin-left: 14px;
}
span.ul_a{
	height: 18px;
	width: 140px;
	font-size: 14px;
	color:#999999;
}

// 跟ul同级元素
div.inset_img img{
	width: 226px;
}
div.aside-three{
	width: 226px;
	border:solid  #b2b2b2 1px;
}
div.aside-three img{
	width: 226px;
}
div.aside-three>a:nth-of-type(1){
	 display: block;
	 width: 230px;
	 height: 98px;
 }
div.aside-three>a:nth-of-type(2){
	display: block;
	width: 230px;
	height: 34px;
	background: #e7e7e7;
}

div.aside-four{
	width: 226px;
	height: 316px;
	background: #fff;
}
}


// 悬浮框  
div.lable-one{
    width: 430px;
    height: 170px;
    opacity: 0;
   overflow: hidden;
    background: #191919;
    position: absolute;
    top:-200px;
    left: -100px;
    transition: all 0.2s linear;
    >div{
        // border: 1px red solid;
    
        //  height: 100px;
    >img{
        width: 125px;
    }
    }
    div:first-child{
        padding: 20px
    }
    div:last-child{
        width: 430px;
        border-top:2px #0c0c0c solid; 
        padding: 10px;
        display: flex;
        align-items: center;
        span:nth-child(1){
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url(../img/iconbig.png);
            background-position: 0 -103px;
        }
        span:nth-child(2){
            color: #ccccc1;
        }

}
   
}
// 设置显示和隐藏
div.lable-a{
opacity: 1;
 top:-184px;
}



// // 测试元素
// #d1{
//     width: 300px;
//     height: 300px;
//     background: red;
// }
// #d2{
//     width: 100px;
//     height: 100px;
//     background: black;
// }